Repository dudscode/financeiro-tech-challenge, pull requests merged in 2024-09, with the labels that each got.

#27 chore: adiciona usuários para reviews das pr
  .github/CODEOWNERS
Labels: config

#30 chore: adiciona editorconfig
  .editorconfig
Labels: config

#31 chore: adiciona configuração ao extensions
  .vscode/extensions.json
Labels: config

#29 chore: adiciona prettier config e formata arquivos
  .prettierignore
  .prettierrc
  .vscode/settings.json
  README.md
  next.config.mjs
  package.json
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  yarn.lock
Labels: config

#35 feat: adiciona storybook
  .eslintrc.json
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/components/Button/index.css
  src/components/Button/index.stories.ts
  src/components/Button/index.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/header.css
  src/stories/page.css
Labels: storybook

#49 Feature/add balance card
  package-lock.json
  package.json
  public/images/bottom-edge.png
  public/images/person-with-coin.png
  public/images/top-edge.png
  src/app/page.tsx
  src/components/BalanceCard/index.stories.ts
  src/components/BalanceCard/index.tsx
  src/components/BalanceCard/styles.ts
  src/hooks/useCurrencyFormatter.ts
  src/hooks/useIsMobile.ts
  src/hooks/useIsTablet.ts
  yarn.lock
Labels: enhancement
